{% extends "base.twig" %}

{% block content %}

  <div class="home-hero">
    <div class="carousel">
      {% set images = page.get_field('homepage_images') %}
      {% set firstimage = images|first %}
      <div><img src="{{TimberImage(firstimage.image).src}}" alt=""></div>
      {% for item in images|slice(1) %}
        <div><img data-lazy="{{TimberImage(item.image).src}}" /></div>
      {% endfor %}
    </div>
    <div class="headline">
      <h1>{{site.description}}</h1>
    </div>
  </div>

  <div class="home-locations">
    {% for store in stores %}
      <div class="section">
        <h2>{{store.title}}</h2>
        <p>{{store.get_field('address')}}</p>
        <p>{{store.get_field('phone')}}</p>
        <p class="store-buttons">
          <a href="https://www.google.com/maps/place/{{store.get_field('address')}}/" class="btn"><i class="fa fa-fw fa-map-marker"></i> Map</a>
          <a href="http://www.instagram.com/{{store.get_field('instagram_username')}}" class="btn"><i class="fa fa-fw fa-instagram"></i> Instagram</a>
        </p>
      </div>
    {% endfor %}
  </div>

{% endblock %}