{% extends "base.twig" %}

{% block content %}

  <div class="home-hero">
    <div class="carousel">
      {% set images = page.get_field('homepage_images') %}
      {% set firstimage = images|first %}
      <div>
        <picture>
          <source srcset="{{TimberImage(firstimage.image).src" alt="" media="(min-width: 600px)">
          <img srcset="{{TimberImage(firstimage.image).src|resize(600,900)}}" alt="">
        </picture>
        <div class="headline">
          <h1>{{firstimage.headline}}</h1>
        </div>
      </div>
      {% for item in images|slice(1) %}
        <div>
          <picture>
            <source srcset="{{TimberImage(item.image).src" alt="" media="(min-width: 600px)">
            <img data-lazy="{{TimberImage(item.image).src|resize(600,900)}}" />
          </picture>
          <div class="headline">
            <h1>{{item.headline}}</h1>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="home-locations">
    {% include "stores.twig" %}
  </div>

{% endblock %}