{% extends "base.twig" %}

{% block content %}

  <div class="page-header">
    {% if page.get_thumbnail %}
      <img src="{{page.get_thumbnail.get_src}}">
    {% endif %}
    <div class="headline">
      <h1>{{page.title}}</h1>
    </div>
  </div>

  <div class="container">

    {% for post in posts %}
      <article class="news-article">
        <header class="post-header">
          <h2><a href="{{post.link}}">{{post.title}}</a></h2>
          {% if post.get_thumbnail %}
            <p><img src="{{post.get_thumbnail.get_src}}"></p>
          {% endif %}
          <div class="meta">
            <span>{{post.display_date}}</span>
            <span>Posted by {{post.author.name}}</span>
            <ul class="tags">
            {% for term in post.terms('tags') %}
              <li><a class="btn" href="{{term.link}}"><i class="fa fa-tag"></i> {{term.name}}</a></li>
            {% endfor %}
            </ul>
          </div>
        </header>
        {{post.get_content()}}
      </article>
    {% endfor %}
    <div class="tool-pagination">
      <div class="prev">
      &nbsp;
        {% if pagination.prev %}
          <a href="{{pagination.prev.link}}" class="btn {{pagination.prev.link|length ? '' : 'invisible'}}">Prev</a>
        {% endif %}
      </div>
      <div class="pages">
        <ul>
          <li>
            <span>Page:</span>
          </li>
          {% for page in pagination.pages %}
            <li>
              {% if page.link %}
                <a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
                {% else %}
                  <span class="{{page.class}}"><strong>{{page.title}}</strong></span>
                {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="next">
        &nbsp;
        {% if pagination.next %}
          <a href="{{pagination.next.link}}" class="btn {{pagination.next.link|length ? '' : 'invisible'}}">Next</a>
        {% endif %}
      </div>
    </div>

  </div>

{% endblock %}