{% extends "base.twig" %}

{% block content %}

  <div class="page-header">
    {% if post.get_thumbnail %}
      <img src="{{post.get_thumbnail.get_src}}">
    {% endif %}
    <div class="headline">
      <h1>{{post.title}}</h1>
    </div>
  </div>

  <div class="container">
    <article class="news-article single">
      <header class="post-header">
        <div class="meta">
          <span>{{post.display_date}}</span>
          <span>Posted by {{post.author.name}}</span>
          <ul class="tags">
          {% for term in post.terms('tags') %}
            <li><a class="btn" href="{{term.link}}"><i class="fa fa-tag"></i> {{term.name}}</a></li>
          {% endfor %}
          </ul>
        </div>
      </header>
      {{post.get_content}}
    </article>
  </div>

{% endblock %}